<ion-view view-title="Opciones">

  <ion-content >

    <ion-list>
      <ion-item class="item-divider">
          Cuenta
      </ion-item>

      <ion-item  class="item-remove-animate item-icon item-icon-right">

        Editar perfil
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item  class="item-remove-animate item-icon item-icon-right" href="#/maestro/contrasena">

        Cambiar contraseña
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>


    <!-- <div class="list">

      <div class="item item-divider">
        Cuenta
      </div>

      <a class="item item-remove-animate item-icon item-icon-right" href="#">
        <a class="item-icon-left" href="#">
          <i class="icon ion-ios-people-outline"></i>
        </a>
        Editar perfil
      </a>
      <a class="item item-remove-animate item-icon item-icon-right" href="#">
        <a class="item-icon-left" href="#">
          <i class="icon ion-ios-people-outline"></i>
        </a>
        Cambiar contraseña
      </a>

    </div> -->

  </ion-content>
</ion-view>
