<ion-view view-title="Estudiante">

  <ion-content class='has-header'>


    <div class="row" style="text-align:center">
      <div class="col">
        <ionic-letter-avatar data="{{estudiante.name}}" width="50" fontsize="20" height="50" shape="round"></ionic-letter-avatar>
      </div>
    </div>
    <div class="row" style="text-align:center">
      <div class="col">
        {{estudiante.name}} {{estudiante.lastname}}
      </div>
    </div>
    <div class="row" style="text-align:center">
      <div class="col">
        {{estudiante.gender}}
      </div>
    </div>


    <div class="row " >
      <div class="col table-info">
        <h5>Asistencias</h5>
        <h6>
          {{asistenciasCount.true.length ? asistenciasCount.true.length : 0 }}
        </h6>
      </div>

      <div class="col table-info">
        <h5>Inasistencias</h5>

        <h6>
          {{asistenciasCount.false.length ? asistenciasCount.false.length : 0 }}
        </h6>
      </div>
      <div class="col table-info">
        <h5>
          Calificación
        </h5>
        <h6>
          {{asistenciasCount.calificacion.qualification}}
        </h6>
      </div>

    </div>

    <ul class="timeline" ng-repeat="asistencia in asistencias">
        <li>
          <div ng-class="asistencia.type == true ? 'timeline-thumb bg-color-green timeline-icon' : 'timeline-thumb bg-color-red timeline-icon'">
            <i ng-class="asistencia.type == true ? 'ion-ios-checkmark-empty' : 'ion-ios-close-empty'"></i>
          </div>
          <div class="timeline-item">
            <h4>{{asistencia.type2 | capitalize}}</h4>
            <div ng-if="asistencia.type">
              <p>
                Con asistencía
              </p>
            </div>
            <div ng-if="!asistencia.type">
              <p>
                Sin asistencía
              </p>
            </div>
            <div class="timeline-stats">
              <i class="ion-ios-calendar-outline"></i> {{asistencia.date | date}}
            </div>
          </div>
        </li>

        <!--
        <li>
          <div class="timeline-thumb bg-color-green timeline-icon">
            <i class="ion-ios-checkmark-empty"></i>
          </div>
          <div class="timeline-item">
            <h4>Viernes cultural</h4>
            <p>Con asistencia</p>
            <div class="timeline-stats">
            <i class="ion-ios-calendar-outline"></i> 15/Enero/2016
            </div>
          </div>
        </li> -->
      </ul>


  </ion-content>
</ion-view>
