<ion-view ng-form="form" view-title="Contraseña  ">
  <ion-nav-buttons side="right">
    <button class="button" ng-disabled="(form.$invalid || (user.passwordNew != user.passwordNewConfirm)) ? true :false"  ng-click="cambiarContrasena(user)">
      Listo
    </button>
  </ion-nav-buttons>
  <ion-content >
    <div>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Contraseña actual</span>
          <input required ng-model="user.password"  type="text" placeholder="Contraseña actual">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Contraseña nueva</span>
          <input required type="password" ng-model="user.passwordNew"  placeholder="Contraseña nueva">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Repetir contraseña nueva</span>
          <input required type="password" ng-model="user.passwordNewConfirm" placeholder="Repetir contraseña">
        </label>

      </div>
    </div >

  </ion-content>
</ion-view>
