<ion-view ng-form="form" view-title="Maestro">
  <ion-nav-buttons side="right">
    <button class="button" ng-disabled="form.$invalid"  ng-click="actualizarMaestro(persona)">
      Listo
    </button>
  </ion-nav-buttons>
  <ion-content >
    <div>
      <div class="list">


        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre</span>
          <input required ng-model="persona.name"  type="text" placeholder="Nombre">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Apellidos</span>
          <input required ng-model="persona.lastname"  type="text" placeholder="Apellidos">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Genero
          </div>
          <select ng-model="persona.gender">
            <option value="hombre" selected>Hombre</option>
            <option value="mujer" >Mujer</option>
          </select>
        </label>




      </div>
    </div >

  </ion-content>
</ion-view>
