<ion-view view-title="Maestro">
    <ion-content  class="padding">

    	<form  name="form">
    		<div class="list list-inset">
			  <label class="item item-input">
			    <input type="email" required ng-model="usuario.email" placeholder="Correo electronico">
			  </label>
			  <label class="item item-input">
			    <input type="password" required ng-model="usuario.password" placeholder="Contraseña">
			  </label>
			</div>
			<button  ng-click="login(usuario)" ng-disabled="form.$invalid" class="button button-block button-calm">
            	Acceder
      </button>

			</button>
    	</form>

    </ion-content>
</ion-view>
