
.slider {

  height: 90%;
}
.slider .page-background{

}
.slider-slide h3{
  color: #FFF;
}
.slider-slide {
  padding-top: 80;
  color: #FFF;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.logo{
  text-align: center;
}
.logoPrincipal {
  text-align: center;
  position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:10%;
    transform:translateY(-50%);
}

#list {
  width: 200px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.slide-perfil{
  width: 100%;
  height: 200px;
}

.slide-perfil  >.slider-pager{
position: absolute;
margin-bottom: 10px
z-index: 1;
width: 100%;
height: 15px;
text-align: center
}
.slide-perfil ion-slide .box{
  padding-top: 30px;
}

.slide-perfil  >.slider-pager span{
  color: white;
}
.slide-perfil ion-slide  h1{
  color: white;
}
